#login, #register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login h1, #register h1 {
    font-size: xx-large;
    padding: 24px;
}

form {
    background-color: white;
    width: 50%;
}

form label {
    padding: 12px;
}